In [28]:
import numpy as np
import pandas as pd

In [29]:
data = pd.DataFrame(np.arange(16).reshape(4, 4),
                   index=['Seoul', 'Incheon', 'Suwon', 'Daejeon'],
                   columns=['one', 'two', 'three', 'four'])

data

         one  two  three  four
Seoul      0    1      2     3
Incheon    4    5      6     7
Suwon      8    9     10    11
Daejeon   12   13     14    15

## Indexing

In [30]:
data.iloc[:2]
data[:2]

         one  two  three  four
Seoul      0    1      2     3
Incheon    4    5      6     7

In [31]:
data.loc[:,'one':'three']

         one  two  three
Seoul      0    1      2
Incheon    4    5      6
Suwon      8    9     10
Daejeon   12   13     14

In [32]:
data.iloc[1, 1:3]

two      5
three    6
Name: Incheon, dtype: int64

In [55]:
data.iloc[:, :3]

         one  two  three
Seoul      0    1      2
Incheon    4    5      6
Suwon      8    9     10
Daejeon   12   13     14

In [54]:
data.iloc[:, :3][data.three > 5]

         one  two  three
Incheon    4    5      6
Suwon      8    9     10
Daejeon   12   13     14

In [41]:
data.loc["Incheon", ["two", "three"]]

two      5
three    6
Name: Incheon, dtype: int64

In [35]:
data.loc["Incheon", "two":"three"]

two      5
three    6
Name: Incheon, dtype: int64

In [43]:
data.loc[["Incheon", "Daejeon"],["four", "two", "three"]]

         four  two  three
Incheon     7    5      6
Daejeon    15   13     14

In [45]:
data.iloc[[1, 3], [3, 1, 2]]

         four  two  three
Incheon     7    5      6
Daejeon    15   13     14

In [48]:
data.loc[:'Suwon', "two"]

Seoul      1
Incheon    5
Suwon      9
Name: two, dtype: int64

In [63]:
ser = pd.Series(np.arange(3))
ser

0    0
1    1
2    2
dtype: int64

In [59]:
ser.iloc[-1] # ser[-1] error

2

In [62]:
ser = pd.Series(np.arange(3), index=['a', 'b', 'c'])
ser[-1] # valid : 인덱스를 기반으로 제일 마지막 인덱스를 출력

2

## Boolean Indexing

In [8]:
data[data['three'] > 5]

         one  two  three  four
Incheon    4    5      6     7
Suwon      8    9     10    11
Daejeon   12   13     14    15

In [24]:
data < 5

           one    two  three   four
Seoul     True   True   True   True
Incheon   True  False  False  False
Suwon    False  False  False  False
Daejeon  False  False  False  False

In [25]:
data[data < 5]

         one  two  three  four
Seoul    0.0  1.0    2.0   3.0
Incheon  4.0  NaN    NaN   NaN
Suwon    NaN  NaN    NaN   NaN
Daejeon  NaN  NaN    NaN   NaN

In [26]:
data[data < 5] = 0
data

         one  two  three  four
Seoul      0    0      0     0
Incheon    0    5      6     7
Suwon      8    9     10    11
Daejeon   12   13     14    15

### Arithematic Operations

In [69]:
s1 = pd.Series([7, -2, 3, 1], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([2, -3, 4, 2, 5], index=['a', 'c', 'e', 'f', 'g'])

In [70]:
s1 + s2

a    9.0
c   -5.0
d    NaN
e    5.0
f    NaN
g    NaN
dtype: float64

In [93]:
df1 = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=list("abcd"))
df2 = pd.DataFrame(np.arange(20).reshape(4, 5),
                  columns=list("abcde"))

In [94]:
df2.iloc[1, 1] = np.nan

In [95]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [96]:
df1.add(df2)

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [97]:
# NaN을 0으로 채움
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

### 데이터프레임 간의 크기 맞추기

In [101]:
print(df1.shape[1], df2.shape[1])

4 5

In [102]:
df1.reindex(columns=df2.columns)

   a  b   c   d   e
0  0  1   2   3 NaN
1  4  5   6   7 NaN
2  8  9  10  11 NaN

In [103]:
df1.reindex(columns=df2.columns, fill_value=1)

   a  b   c   d  e
0  0  1   2   3  1
1  4  5   6   7  1
2  8  9  10  11  1

In [107]:
df1.reindex(columns=df2.columns,
            index=df2.index,
            fill_value=1)

   a  b   c   d  e
0  0  1   2   3  1
1  4  5   6   7  1
2  8  9  10  11  1
3  1  1   1   1  1

In [28]:
df = pd.DataFrame(np.random.randn(12).reshape(4, 3),
                  columns=list("bde"),
                  index=["Seoul", "Busan", "Daegu", "Incheon"])
df

                b         d         e
Seoul    0.788287 -0.309250 -0.378690
Busan    1.505468  0.770731 -0.107061
Daegu    1.587997  1.219750 -0.097914
Incheon -1.924486  0.032781  0.534350

In [30]:
df.max(axis=0) - df.min(axis=0)

b    3.512483
d    1.529000
e    0.913040
dtype: float64

In [37]:
f = lambda x: x.max() - x.min()

In [38]:
df.apply(f) # default axis = 0

b    3.512483
d    1.529000
e    0.913040
dtype: float64

In [39]:
df.apply(f, axis=1)

Seoul      1.166977
Busan      1.612529
Daegu      1.685911
Incheon    2.458837
dtype: float64

In [41]:
df.apply(f, axis='index')

b    3.512483
d    1.529000
e    0.913040
dtype: float64

In [42]:
df.apply(f, axis='columns')

Seoul      1.166977
Busan      1.612529
Daegu      1.685911
Incheon    2.458837
dtype: float64

In [43]:
df.apply(lambda x: x.mean(), axis=1)

Seoul      0.033449
Busan      0.723046
Daegu      0.903278
Incheon   -0.452452
dtype: float64

In [109]:
df = pd.DataFrame([[1,3,5], [4,5,6], [7,8,10]])
df

   0  1   2
0  1  3   5
1  4  5   6
2  7  8  10

In [110]:
df.max(axis=0) - df.min(axis=0)

0    6
1    5
2    5
dtype: int64

In [111]:
df.max(axis=1) - df.min(axis=1)

0    4
1    2
2    3
dtype: int64

In [119]:
def diff2(sr):
    return pd.Series([sr.max(), sr.min(), sr.min()],
                    index=['max', 'min', 'diff'])

df.apply(diff2, axis=0)

      0  1   2
max   7  8  10
min   1  3   5
diff  1  3   5

In [122]:
df2 = pd.DataFrame([[1,1,1],[2,2,2],[3,3,3]])
df2.pow(2)

   0  1  2
0  1  1  1
1  4  4  4
2  9  9  9

In [139]:
wine = pd.read_csv("../data/winemag-data-130k-v2.csv", sep=',', index_col=0)
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65499 entries, 0 to 65498
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                65467 non-null  object
 1   description            65499 non-null  object
 2   designation            46588 non-null  object
 3   points                 65499 non-null  int64
 4   price                  60829 non-null  float64
 5   province               65467 non-null  object
 6   region_1               54744 non-null  object
 7   region_2               25170 non-null  object
 8   taster_name            51856 non-null  object
 9   taster_twitter_handle  49467 non-null  object
 10  title                  65499 non-null  object
 11  variety                65499 non-null  object
 12  winery                 65499 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.0+ MB

In [140]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [146]:
wine['country'].value_counts().tail()

Luxembourg                4
India                     4
Armenia                   1
Bosnia and Herzegovina    1
Slovakia                  1
Name: country, dtype: int64

In [150]:
wine.iloc[:, [8, 9, 3]]

              taster_name taster_twitter_handle  points
0           Kerin O’Keefe          @kerinokeefe      87
1              Roger Voss            @vossroger      87
2            Paul Gregutt           @paulgwine       87
3      Alexander Peartree                   NaN      87
4            Paul Gregutt           @paulgwine       87
...                   ...                   ...     ...
65494          Roger Voss            @vossroger      90
65495      Joe Czerwinski                @JoeCz      90
65496                 NaN                   NaN      90
65497                 NaN                   NaN      90
65498   Michael Schachner           @wineschach      90

[65499 rows x 3 columns]

In [151]:
wine.set_index('title')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley),US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...
William Fèvre 2005 Fourchaume Premier Cru (Chablis),France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Chardonnay,William Fèvre
Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Cabernet Sauvignon,Tapestry
Fritz 2006 Estate Sauvignon Blanc (Dry Creek Valley),US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Sauvignon Blanc,Fritz
Hendry 2004 Block 24 Primitivo (Napa Valley),US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Primitivo,Hendry
Bodegas Dios Baco S.L. NV Manzanilla Sherry (Jerez),Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Sherry,Bodegas Dios Baco S.L.

In [153]:
wine[wine['country'] == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65466,Italy,"Earthy truffle, porcini mushroom, herb and gam...",NaN,88,70.0,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,Uccelliera 2012 Brunello di Montalcino,Sangiovese,Uccelliera
65474,Italy,"Made of 70% Syrah, 15% Sangiovese and 15% Merl...",Taneto,88,25.0,Tuscany,Toscana,NaN,Kerin O’Keefe,@kerinokeefe,Badia di Morrona 2013 Taneto Red (Toscana),Red Blend,Badia di Morrona
65476,Italy,"Rose, violet, sour berry and tilled earth arom...",Prugnolo,88,25.0,Tuscany,Rosso di Montepulciano,NaN,Kerin O’Keefe,@kerinokeefe,Boscarelli 2015 Prugnolo (Rosso di Montepulci...,Red Blend,Boscarelli
65477,Italy,"Made of 65% Merlot, 25% Cabernet Sauvignon, 5%...",Ruit Hora,88,30.0,Tuscany,Bolgheri,NaN,Kerin O’Keefe,@kerinokeefe,Caccia al Piano 1868 2013 Ruit Hora (Bolgheri),Red Blend,Caccia al Piano 1868
65478,Italy,"Aromas suggesting French oak, coconut and spic...",NaN,88,36.0,Tuscany,Vino Nobile di Montepulciano,NaN,Kerin O’Keefe,@kerinokeefe,Il Macchione 2012 Vino Nobile di Montepulciano,Sangiovese,Il Macchione

In [155]:
 wine[(wine['country'] == 'Italy') & (wine['points'] >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
140,Italy,"A big, fat, luscious wine with plenty of toast...",Costa Bruna,90,26.0,Piedmont,Barbera d'Alba,NaN,NaN,NaN,Poderi Colla 2005 Costa Bruna (Barbera d'Alba),Barbera,Poderi Colla
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65225,Italy,You'll love the dark intensity and generous ar...,Vigna Manapetra Riserva,93,58.0,Tuscany,Brunello di Montalcino,NaN,NaN,NaN,Fattoria La Lecciaia 2007 Vigna Manapetra Rise...,Sangiovese Grosso,Fattoria La Lecciaia
65226,Italy,Brunello Madonna Nera is a new product (this w...,Madonna Nera,92,NaN,Tuscany,Brunello di Montalcino,NaN,NaN,NaN,La Madonna 2008 Madonna Nera (Brunello di Mon...,Sangiovese Grosso,La Madonna
65362,Italy,This stunning single-vineyard selection is one...,La Rocca,95,31.0,Veneto,Soave Classico,NaN,Kerin O’Keefe,@kerinokeefe,Pieropan 2011 La Rocca (Soave Classico),Garganega,Pieropan
65365,Italy,"Stunning and sophisticated, it leads with inte...",Sanct Valentin,94,40.0,Northeastern Italy,Alto Adige,NaN,Kerin O’Keefe,@kerinokeefe,Cantina Produttori San Michele Appiano 2012 Sa...,Sauvignon,Cantina Produttori San Michele Appiano
65399,Italy,Aesthetics and elegance are important values t...,Nectar Dei,91,65.0,Tuscany,Maremma,NaN,NaN,NaN,Fattoria Nittardi 2006 Nectar Dei (Maremma),Red Blend,Fattoria Nittardi

In [156]:
 wine[(wine.country == 'Italy') | (wine.country == 'France')]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65485,France,There's a fine balance here between minerality...,Montmains Premier Cru,90,40.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Montmains Premier Cru (Cha...,Chardonnay,William Fèvre
65486,France,"Closed up and firm with a hint of vanilla, hon...",Domaine Long-Depaquit Les Bougnons Premier Cru,90,NaN,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Albert Bichot 2005 Domaine Long-Depaquit Les B...,Chardonnay,Albert Bichot
65491,France,"A big, toasty wine, full of ripe, delicious fr...",Fourchaume Vieilles Vignes Premier Cru,90,36.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Pascal Bouchard 2006 Fourchaume Vieilles Vigne...,Chardonnay,Pascal Bouchard
65492,France,"A rounded, fruity wine, packed with yellow pea...",Mont-de-Milieu Premier Cru,90,30.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Simonnet-Febvre 2005 Mont-de-Milieu Premier Cr...,Chardonnay,Simonnet-Febvre
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre

In [160]:
wine[wine.country.isin(['Italy', 'France'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65485,France,There's a fine balance here between minerality...,Montmains Premier Cru,90,40.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Montmains Premier Cru (Cha...,Chardonnay,William Fèvre
65486,France,"Closed up and firm with a hint of vanilla, hon...",Domaine Long-Depaquit Les Bougnons Premier Cru,90,NaN,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Albert Bichot 2005 Domaine Long-Depaquit Les B...,Chardonnay,Albert Bichot
65491,France,"A big, toasty wine, full of ripe, delicious fr...",Fourchaume Vieilles Vignes Premier Cru,90,36.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Pascal Bouchard 2006 Fourchaume Vieilles Vigne...,Chardonnay,Pascal Bouchard
65492,France,"A rounded, fruity wine, packed with yellow pea...",Mont-de-Milieu Premier Cru,90,30.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,Simonnet-Febvre 2005 Mont-de-Milieu Premier Cr...,Chardonnay,Simonnet-Febvre
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre

In [169]:
wine[wine.price.notnull()].sort_values(by='price', ascending=False)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
15840,France,The wine is a velvet glove in an iron fist. Th...,NaN,96,2500.0,Bordeaux,Pomerol,NaN,Roger Voss,@vossroger,Château Pétrus 2014 Pomerol,Bordeaux-style Red Blend,Château Pétrus
65352,France,This extravagantly perfumed wine has great jui...,NaN,97,2000.0,Bordeaux,Pomerol,NaN,Roger Voss,@vossroger,Château Pétrus 2011 Pomerol,Bordeaux-style Red Blend,Château Pétrus
1558,France,"A massive wine for Margaux, packed with tannin...",NaN,98,1900.0,Bordeaux,Margaux,NaN,Roger Voss,@vossroger,Château Margaux 2009 Margaux,Bordeaux-style Red Blend,Château Margaux
1575,France,"The purest Cabernet Sauvignon fruit, with dark...",NaN,96,1300.0,Bordeaux,Pauillac,NaN,Roger Voss,@vossroger,Château Mouton Rothschild 2009 Pauillac,Bordeaux-style Red Blend,Château Mouton Rothschild
1571,France,"Solid, very structured, packed with dense and ...",NaN,96,1200.0,Bordeaux,Pessac-Léognan,NaN,Roger Voss,@vossroger,Château Haut-Brion 2009 Pessac-Léognan,Bordeaux-style Red Blend,Château Haut-Brion
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61768,Spain,This opens with standard cherry and berry arom...,NaN,84,4.0,Levante,Yecla,NaN,Michael Schachner,@wineschach,Terrenal 2010 Cabernet Sauvignon (Yecla),Cabernet Sauvignon,Terrenal
29553,Argentina,"Crimson in color but also translucent, with a ...",Red,84,4.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Broke Ass 2009 Red Malbec-Syrah (Mendoza),Malbec-Syrah,Broke Ass
1987,Spain,Berry and cherry aromas are surprisingly sturd...,Flirty Bird,85,4.0,Central Spain,Vino de la Tierra de Castilla,NaN,Michael Schachner,@wineschach,Felix Solis 2013 Flirty Bird Syrah (Vino de la...,Syrah,Felix Solis
64590,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
31530,US,"Packaged in a cute yellow recyclable Tetrapak,...",NaN,84,4.0,California,California,California Other,NaN,NaN,Bandit NV Chardonnay (California),Chardonnay,Bandit

In [170]:
wine['critics'] = 'everyone'

In [171]:
wine

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critics
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre,everyone
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry,everyone
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz,everyone
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry,everyone
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.,everyone

In [177]:
num = 1
if num in range(10):
    print(num)

1

In [178]:
import copy

In [180]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'